// --- SETUP

$colors: (
  'sidebar': #00233D,
  'content': #D3D3D3,
  'navbar': #FFF,
  'text': #757575,
  'text-white': #FFF
);

$fonts: (
  'font-small': 1.2em,
  'font-medium': 1.4em,
  'font-big': 1.7em,
);

@each $color, $value in $colors {
  %bg-#{$color} { background: $value; }
  %cl-#{$color} { color: $value; }
}

@each $font, $value in $fonts {
  %#{$font} { font-size: $value; }
}

@for $i from 1 through 20 {
  %pad-bottom-#{$i * 5} { padding-bottom: $i * 5px; }
  %pad-right-#{$i * 5} { padding-right: $i * 5px; }
  %pad-left-#{$i * 5} { padding-left: $i * 5px; }
  %pad-bothH-#{$i * 5} { padding: 0 $i * 5px; }
  %pad-bothV-#{$i * 5} { padding: $i * 5px 0; }
  %pad-top-#{$i * 5} { padding-top: $i * 5px; }
  %pad-#{$i * 5} { padding: $i * 5px; }

  %mg-bottom-#{$i * 5} { margin-bottom: $i * 5px; }
  %mg-right-#{$i * 5} { margin-right: $i * 5px; }
  %mg-left-#{$i * 5} { margin-left: $i * 5px; }
  %mg-bothH-#{$i * 5} { margin: 0 $i * 5px; }
  %mg-bothV-#{$i * 5} { margin: $i * 5px 0; }
  %mg-top-#{$i * 5} { margin-top: $i * 5px; }
  %mg-#{$i * 5} { margin: $i * 5px; }
}

// --- SETUP END

// --- SASS

.sidebar-list {
  .item {
    border-bottom: 2px solid #194A6F;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 50px;
    display: flex;

    .seta-dupla::after {
      position: absolute;
      color: #194A6F;
      content: '>>';
      right: 5px;
    }

    .input {
      @extend %pad-right-10;
      text-align: right;
      min-height: 90px;
      color: #ADB6C0;
      width: 100%;
    }

    .link {
      @extend %font-small;
      @extend %cl-text-white;

      text-decoration: none;

      &.icon::after {
        position: absolute;
        content: 'icon';
        right: 0;
      }

      &.active::after {
        @extend %font-big;
        position: absolute;
        content: '<';
        top: 10px;
        right: 0;
      }
    }
  }
}

.container {

  &-content { @extend %pad-40; }

  &-main-content {
    @extend %bg-content;

    flex: 0 0 75%;
  }

  &-view {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &-app {
    display: flex;
    height: 100%;
  }

  &-navbar {
    @extend %pad-30;
    @extend %bg-navbar;
    text-decoration: none;

    .navbar-list {
      justify-content: space-between;
      align-items: center;
      display: flex;

      .item {
        &.flex {
          display: flex;
          align-items: center;
        }

        .text {
          @extend %font-small;
          @extend %cl-text;
        }

        .alert {background: #4997D1; }
        .user {
          @extend %bg-sidebar;

          &::after {
            @extend %pad-left-25;
            content: '▼'
          }
        }

        .alert,
        .user {
          @extend %cl-text-white;
          @extend %pad-10;
        }

        .menu {
          @extend %mg-bothH-10;
          @extend %cl-text;
          @extend %pad-10;

          border: 1px solid #a1bcce;

          &::after {
            @extend %pad-left-25;
            content: '▼'
          }
        }

      }
    }

    .navbar-logo {
      @extend %font-big;
      color: #264783;
    }
  }

  &-sidebar {
    @extend %bg-sidebar;

    height: 100%;
    flex: 0 0 25%;
  }

  &-breadcrumb {
    .item {
      display: inline-block;

      .link {
        @extend %font-small;
        @extend %cl-text;

        text-decoration: none;
        pointer-events: none;
      }

      &:not(:last-child) {
        .link::after {
          margin: 0 15px;
          content: '>';
        }
      }
    }
  }

}

.content-group {
  @extend %cl-text;

  flex-wrap: wrap;
  display: flex;

  .content-list {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    flex: 1;

    .content-title { @extend %font-small; }

    .box {
      position: relative;
      border: 3px solid #a1bcce;
      padding: 10px 30px;

      &::after {
        position: absolute;
        content: "▼";
        right: 10px;
        top: 12px;
      }
    }
  }

  .group-title {
    @extend %pad-top-40;
    @extend %font-big;

    color: #54709C;
    flex: 0 0 100%;
  }

  .group-actions {
    @extend %pad-bothV-40;
    color: #878083;

    justify-content: space-between;
    flex: 0 0 100%;
    display: flex;

    .divider { margin: 0; }

    .shortcuts {
      -webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      &-list {
        @extend %pad-20;
        flex: 1;

        .title { @extend %pad-bottom-10; }

        .item {
          @extend %mg-bothV-10;
          @extend %pad-5;

          border: 1px solid #BFD9EE;
        }

        &:first-child { border-right: 1px solid #878083; }
      }
      &-container {
        justify-content: space-between;
        display: flex;
      }
    }


    .shortcuts {
      @extend %mg-right-10;
      background: #FFF;

      flex: 0 0 50%;
      &-title {
        @extend %font-medium;
        @extend %pad-20;
      }
    }

    .alerts {
      -webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.5);
      background: #FFF;

      position: relative;
      flex: 0 0 50%;

      &-title {
        @extend %font-medium;
        @extend %pad-20;
      }

      &-title-list {
        @extend %pad-right-20;
        justify-content: space-between;
        align-items: center;
        display: flex;
      }

      &-list {
        .box {
          @extend %mg-right-10;

          padding: 10px 20px;
          border: 1px solid #BFD9EE;
          position: absolute;
          right: 5px;

          &::after {
            content: "▼";
            position: absolute;
            right: 5px;
          }
        }
      }

      .item {
        @extend %pad-20;

        .content {
          display: flex;
          align-items: center;
        }

        &:not(:last-child) { border-bottom: 1px solid #878083; }
      }
    }


  }
}

// --- SASS END
